allure-pytest==2.5.3
allure-python-commons==2.5.3
Appium-Python-Client==0.29
atomicwrites==1.2.1
attrs==18.2.0
colorama==0.4.0
et-xmlfile==1.0.1
jdcal==1.4
more-itertools==4.3.0
openpyxl==2.5.9
Pillow==8.1.1
pluggy==0.8.0
py==1.7.0
pytest==3.9.3
selenium==3.14.1
six==1.11.0
urllib3==1.24
